{% extends "bookshelf/base.html" %}

{% block content %}
      <form method='POST'>{% csrf_token %}
      {{form.as_p}}
      <input type='submit' value='Save'/>
      </form>
      <hr>
      <a href="/authoradd"><button class="btn btn-primary" type='button'>Next</button></a>
{% endblock %}