<!DOCTYPE html>
<html lang="en">
<head>
  <!-- {% block title %}<title>Local Library</title>{% endblock %} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
  <nav class="navbar navbar-inverse">  
      <div class="container-fluid">
      {% block sidebar %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'logs' %}">All Logs</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="{% url 'authors' %}">All authors</a></li>
          <li><a href="{% url 'useradd' %}">Add Users</a></li>
          <li><a href="{% url 'logger' %}">Log Book Exchanges</a></li>
          <li><a href="{% url 'barcodeadd' %}">Add Books</a></li>
          
        </ul>
     {% endblock %}
      </div>
      </nav>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>